<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DemoSuite" parallel="methods" thread-count="5">
  <test thread-count="5" name="DemoTest">
    <classes>
      <class name="testCasePackage.DemoTest1"/>
    </classes>
  </test> <!-- DemoTest -->
</suite> <!-- DemoSuite -->
